@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font: normal 16px/1.5 'Open Sans', sans-serif;
}
.jumbotron {
    font: normal 16px/1.5 'Open Sans', sans-serif;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #303030;
    border-radius: 1rem;
}

.display-5 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

nav {
    font: normal 16px/1.5 'Open Sans', sans-serif;
	border-radius: 1rem;
}
#titulo{
    font: normal 16px/1.5 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 10px;


    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2;
    text-orientation: initial;
}

#rodape {
    font: normal 16px/1.5 'Open Sans', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #303030;
    border-radius: 2rem;
}

#vtopo {

    text-align: center;
}
