{% extends "base.html" %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>Seja bem vindo ao sistema</h1>

            <a href="/admin/login/?next=/sistema">Clique aqui para entrar</a>
        </div>
    </div>
{% endblock main %}
