{% extends "base.html" %}

{% block main %}
<h2>Lista Movimento Rotativos</h2>

<ul>
    {% for mov in mov_rot %}

        <li>
            <a href="{% url 'core_movrotativo_update' mov.id %}">
                {{ mov.checkin }} - {{ mov.veiculo.placa }}
            </a>
        </li>
    {% endfor %}
</ul>


<form action="{% url 'core_movrotativo_novo' %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Cadastrar</button>
</form>

{% endblock main %}
