{% extends "base.html" %}


{% block main %}
<h2>Lista mensalistas</h2>

<ul>
    {% for mensalista in mensalistas %}
        <li>
            <a href="{% url 'core_mensalista_update' mensalista.id %}">
                {{ mensalista.veiculo }} - {{ mensalista.inicio }}
            </a>
        </li>
    {% endfor %}
</ul>

<form action="{% url 'core_mensalista_novo' %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Cadastrar</button>
</form>
{% endblock main %}
