{% extends "base.html" %}

{% block main %}
<h2> Updating Veiculo: {{ mov_rot }}</h2>

<form action="{% url 'core_movrotativo_update' mov_rot.id %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Salvar</button>
</form>

<a href="{% url 'core_lista_movrotativos' %}"><button>Voltar</button></a>
<a href="{% url 'core_movrotativo_delete' mov_rot.id %}">
    <button>Deletar</button>
</a>
{% endblock main %}
