{% extends "base.html" %}

{% block main %}
<h2> Updating Mensalista: {{ mensalista }}</h2>

<form action="{% url 'core_mensalista_update' mensalista.id %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Salvar</button>
</form>

<a href="{% url 'core_lista_mensalista' %}"><button>Voltar</button></a>
<a href="{% url 'core_mensalista_delete' mensalista.id %}">
    <button>Deletar</button>
</a>

{% endblock main %}
