{% load static %}

<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <title>Estacionamento</title>
</head>
<body>
  <div class="container-fluid">
    {% block main %}
    {% endblock  %}
  </div>
</body>
</html>
